<figure class="teacher-figure">
  @if (teacher.favorite) {
    <div class="photo-star-container">
      <div class="teacher-photo" (click)="onTeacherClick()" [style.background-color]="teacher.bg_color || ''">
        @if (teacher.picture_large) {
          <img [src]="teacher.picture_large" alt="Teacher's photo" />
        } @else {
          <span class="teacher-initials">{{ getInitials() }}</span>
        }
      </div>
      <img src="assets/images/star.png" alt="star icon" class="star" />
    </div>
  } @else {
    <div class="teacher-photo" (click)="onTeacherClick()" [style.background-color]="teacher.bg_color || ''">
      @if (teacher.picture_large) {
        <img [src]="teacher.picture_large" alt="Teacher's photo" />
      } @else {
        <span class="teacher-initials">{{ getInitials() }}</span>
      }
    </div>
  }
  
  <figcaption>
    <p class="teacher-name">{{ teacher.full_name }}</p>
    <p class="teacher-subject">{{ teacher.course }}</p>
    <p class="teacher-country">{{ teacher.country }}</p>
  </figcaption>
</figure>
