<figure class="teacher-figure">
  @if (teacher.isFavorite) {
    <div class="photo-star-container">
      <div class="teacher-photo" (click)="onTeacherClick()">
        @if (teacher.photoUrl) {
          <img [src]="teacher.photoUrl" alt="Teacher's photo" />
        } @else {
          <span class="teacher-initials">{{ getInitials() }}</span>
        }
      </div>
      <img src="assets/images/star.png" alt="star icon" class="star" />
    </div>
  } @else {
    <div class="teacher-photo" (click)="onTeacherClick()">
      @if (teacher.photoUrl) {
        <img [src]="teacher.photoUrl" alt="Teacher's photo" />
      } @else {
        <span class="teacher-initials">{{ getInitials() }}</span>
      }
    </div>
  }
  
  <figcaption>
    <p class="teacher-name">{{ teacher.firstName }} {{ teacher.lastName }}</p>
    <p class="teacher-subject">{{ teacher.specialty }}</p>
    <p class="teacher-country">{{ teacher.country }}</p>
  </figcaption>
</figure>
