<div class="favorites-container">
  <section class="scroll">
    <img
      class="left-arrow"
      src="assets/images/left-arrow.png"
      alt="Left scroller"
      (click)="scrollLeft()"
    />
  </section>

  <div class="favorites-figures" #favoritesContainer>
    @for (teacher of favoriteTeachers(); track teacher.id) {
      <figure class="teacher-figure">
        <div class="teacher-photo" (click)="onTeacherSelected(teacher)" [style.background-color]="teacher.bg_color || ''">
          @if (teacher.picture_large) {
            <img [src]="teacher.picture_large" alt="Teacher's photo" />
          } @else {
            <span class="teacher-initials">{{ getInitials(teacher.full_name || '') }}</span>
          }
        </div>
        <figcaption>
          <p class="teacher-name">{{ teacher.full_name }}</p>
          <p class="teacher-country">{{ teacher.country }}</p>
        </figcaption>
      </figure>
    }
  </div>

  <section class="scroll">
    <img
      class="right-arrow"
      src="assets/images/right-arrow.png"
      alt="Right scroller"
      (click)="scrollRight()"
    />
  </section>
</div>
